.active.datas {
    --tw-text-opacity: 1 !important;
    color: #8b5cf6 !important;
    color: rgb(139 92 246 / var(--tw-text-opacity)) !important;
}
.active.datas {
    background-color: #8b5cf61a !important;
}
.active.datas {
    --tw-text-opacity: 1!important;
    color: #8b5cf6!important;
    color: rgb(139 92 246/var(--tw-text-opacity))!important;
}
.active.datas {
    background-color: #8b5cf61a!important;
}